<!DOCTYPE html>
<html>
 <head><% include partials/template/head.ejs %></head>
  <body>
      <% include partials/template/header.ejs %>
      <section class="layout">
          <div class="primary">
              
            <div>orem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor sed eros ultricies, ut hendrerit ex tincidunt. Pellentesque mollis eu turpis ac consequat. Duis elementum efficitur luctus. Integer lobortis vulputate velit, laoreet sollicitudin elit cursus eget. Phasellus at suscipit risus. Sed volutpat justo nunc, quis aliquet velit pretium non. Integer posuere nisi urna, ac pretium dui facilisis in. Duis varius ligula in ligula consequat dictum.</div>
              
          </div> <!--    end of primary -->
          
          <aside class="secondary">
               <div>orem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque tortor sed eros ultricies, ut hendrerit ex tincidunt. Pellentesque mollis eu turpis ac consequat. Duis elementum efficitur luctus. Integer lobortis vulputate velit, laoreet sollicitudin elit cursus eget. Phasellus at suscipit risus. Sed volutpat justo nunc, quis aliquet velit pretium non. Integer posuere nisi urna, ac pretium dui facilisis in. Duis varius ligula in ligula consequat dictum.</div>
          
      </aside> <!--    end secondary-->
      </section>
 
      <% include partials/template/footer.ejs %>
      <% include partials/template/defaultjs.ejs %>
  </body>
</html>
