<header>
<class class="hero">
	<section class="layout">
		<class class="branding">
			<a href="/">
				<img src="/images/misc/rouxacademymeetups.svg" alt="Roux Academy logo">
			</a>
		</class> <!-- branding -->
	</section> <!-- layout -->
</class> <!-- hero -->
</header>