<header>
<class class="hero">
	<section class="layout">
		<class class="branding">
			<a href="/">
				<img src="/images/misc/rouxacademymeetups.svg" alt="Roux Academy logo">
			</a>
		</class> <!-- branding -->
	</section> <!-- layout -->
</class> <!-- hero -->

<class class="navigation">
	<section class="layout">
		<ul class="nav">
			<li><a href="/"> <i class="icon-home"></i>Home</a></li>
			<li><a href="/speakers"> <i class="icon-user"></i>
			Speakers</a></li>
		</ul>
	</section>
</class>
</header>